Package: com.insanj.editalarms
Name: Edit Alarms
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Edit and delete alarms in-line.
 Tap to bring up edit sheet, swipe to delete.
Maintainer: Julian Weiss <me@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Application Support/EditAlarms/icon@2x.png
